---
import Layout from "../layouts/Layout.astro";
---

<Layout title="About" description="プロフィールや連絡先">
  <div class="container">
    <h1 class="page-title">About</h1>

    <section class="section prose">
      <h2>プロフィール</h2>
      <p>高専3年です。バックエンドが好きです。</p>

      <h2>スキル</h2>
      <p>Rust! Nix! それ以外は忘れてしまいました...</p>

      <h2>Favorite Tools</h2>
      <p>NixOS, Neovim, Kitty, Niri, Hazkey</p>
    </section>
  </div>
</Layout>
