name: CI

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

jobs:
  build:
    name: CI
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: cachix/install-nix-action@v31

      - name: Restore and save Nix store
        uses: nix-community/cache-nix-action@v7
        with:
          primary-key: nix-${{ runner.os }}-${{ hashFiles('**/*.nix', '**/flake.lock') }}
          restore-prefixes-first-match: nix-${{ runner.os }}
          gc-max-store-size-linux: 5G

      - name: Setup pnpm cache
        uses: actions/cache@8b402f58fbc84540c8b491a91e594a4576fec3d7 # v5.0.2
        with:
          path: ~/.local/share/pnpm/store
          key: ${{ runner.os }}-pnpm-dev-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-pnpm-dev-

      - name: Install dependencies
        run: nix profile add .#ci && pnpm install --frozen-lockfile

      - name: Format
        run: pnpm run format:check

      - name: Check
        run: pnpm run check

      - name: Lint
        run: pnpm run lint
